<header>
  <nav
    class="navbar navbar-expand-sm navbar-toggleable-sm navbar-light bg-white border-bottom box-shadow mb-3"
  >
    <div class="container">
      <a class="navbar-brand" [routerLink]="['/']">
        <img height="70" src="https://firebasestorage.googleapis.com/v0/b/monali-32546.appspot.com/o/LOGO%2Fmonali-logo.png?alt=media&token=32ea90e2-1880-49aa-8993-b5da262a7654" />
      </a>
      <button class="navbar-toggler"
              type="button"
              data-toggle="collapse"
              data-target=".navbar-collapse"
              aria-label="Toggle navigation"
              [attr.aria-expanded]="isExpanded"
              (click)="toggle()">
        <span class="navbar-toggler-icon"></span>
      </button>
      <div class="navbar-collapse collapse d-sm-inline-flex justify-content-end"
           [ngClass]="{ show: isExpanded }">
        <ul class="navbar-nav flex-grow">
          <li class="nav-item"
              [routerLinkActive]="['link-active']"
              [routerLinkActiveOptions]="{ exact: true }">

            <a class="nav-link text-dark" [routerLink]="['/']">Strona główna</a>
          </li>
          <li class="nav-item" [routerLinkActive]="['link-active']">
            <a class="nav-link text-dark" [routerLink]="['/shopitems']">Produkty</a>
          </li>
          <li class="nav-item" [routerLinkActive]="['link-active']">
            <a class="nav-link text-dark" [routerLink]="['/contact']">Kontakt</a>
          </li>
          <li class="nav-item" [routerLinkActive]="['link-active']" *ngIf="authService.isLoggedIn">
            <a class="nav-link text-dark" (click)="authService.SignOut()">Wyloguj</a>
          </li>
          <!--<li class="nav-item" [routerLinkActive]="['link-active']" *ngIf="!authService.isLoggedIn">
        <a class="nav-link text-dark" [routerLink]="['/sign-in']">SignIn</a>
      </li>-->
        </ul>
      </div>
    </div>
  </nav>
</header>
