<div class="displayTable">
  <div class="displayTableCell">
    <div class="authBlock">
      <h3>Sign In</h3>
      <div class="formGroup">
        <input type="text"
               class="formControl m-2"
               placeholder="Username"
               #userName
               required />
      </div>
      <div class="formGroup">
        <input type="password"
               class="formControl m-2"
               placeholder="Password"
               #userPassword
               required />
      </div>
      <!-- Calling SignIn Api from AuthService -->
      <div class="m-2">
        <button class="btn btn-outline-primary m-1"
                (click)="authService.SignIn(userName.value, userPassword.value)">
          Log in
        </button>
        <div class="forgotPassword">
          <a class="btn btn-outline-warning m-1" [routerLink]="['/register-user']">Go to register page</a>
          <a class="btn btn-light" [routerLink]="['/forgot-password']">Forgot Password?</a>
          </div>
        </div>
      </div>
    </div>
</div>
