<div *ngIf="authService.isLoggedIn">
  <button class="btn btn-outline-primary" [routerLink]="['/mainpage-management']">Zarządzanie stroną główną</button>
</div>
<div class="container marketing min-vh-100">
  <ng-container *ngFor="let article of articles; index as i">
    <div class="row featurette" *ngIf="i % 2 == 0">
      <div class="col-md-7">
        <h2 class="featurette-heading fw-normal lh-1"><span class="text-body-secondary">{{article.title}}</span></h2>
        <p class="lead">{{article.description}}</p>
      </div>
      <div class="col-md-5">
        <img class="bd-placeholder-img bd-placeholder-img-lg featurette-image img-fluid mx-auto" width="500" height="500" src="{{article.imageUrl}}" role="img" aria-label="Placeholder: 500x500" preserveAspectRatio="xMidYMid slice" focusable="false">
      </div>
    </div>
    <div class="row featurette" *ngIf="i % 2 != 0">
      <div class="col-md-7 order-md-2">
        <h2 class="featurette-heading fw-normal lh-1"><span class="text-body-secondary">{{article.title}}</span></h2>
        <p class="lead">{{article.description}}</p>
      </div>
      <div class="col-md-5 order-md-1">
        <img class="bd-placeholder-img bd-placeholder-img-lg featurette-image img-fluid mx-auto" width="500" height="500" src="{{article.imageUrl}}" role="img" aria-label="Placeholder: 500x500" preserveAspectRatio="xMidYMid slice" focusable="false">
      </div>
    </div>
    <hr class="featurette-divider">
  </ng-container>
</div>
