<div class="container min-vh-100">
  <div>
      <div *ngFor="let category of categoryService.categories">
        <input type="text" class="w-25 m-1" [(ngModel)]="category.name" />
        <button class="btn btn-outline-warning m-1" (click)="categoryService.edit(category)">Edytuj</button>
        <button class="btn btn-outline-danger m-1" (click)="categoryService.delete(category.id)">Usuń</button>
      </div>
      <div>
        <input type="text" class="w-25 m-1" [(ngModel)]="categoryService.newCategory.name" />
        <button class="btn btn-outline-success m-1" (click)="categoryService.add()">+</button>
      </div>
  </div>
</div>
