<div style="display:flex">
  <div style="width:60%;margin:auto;">
    {{item.name}}
  </div>
  <div style="width: 40%; ">
    <div style="margin: auto; text-align: center; ">
      <h1 style="font-size:30px; overflow-wrap:break-word;">{{item.name}}</h1>
    </div>
    <div style="background-color: black; margin: auto; text-align:center;">
      {{item.description}}
    </div>
    <div style="background-color: yellow; margin: auto; text-align:center;">
      {{item.category.name}}
    </div>
  </div>
</div>
