<div class="container text-center min-vh-100">
  <div class="row">
    <div class="col-lg-6 order-lg-2 mb-4">
      <div>
        <h1 class="text-center">{{item.name}}</h1>
      </div>
      <div class="text-left text-break" [innerHTML]="item.description">
        <!--<label>{{item.description}}</label>-->
      </div>
      <!--<div style="background-color: yellow; margin: auto; text-align:center;">
        {{item.category.name}}
      </div>-->
    </div>
    <div class="col-lg-6 order-lg-1">
      <div class="container">
        <div class="row gallery justify-content-md-center" photoGalleryGroup>
          <div class="col-lg-6 col-md-3 mb-4 mb-lg-0" *ngFor="let img of item.images">
            <div class="images-item w-100 shadow-1-strong rounded mb-4" [photoGallery]="img.imageUri">
              <img class="img-fluid" [src]="img.imageUri" />
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
  <button type="submit" *ngIf="folded == true" class="btn btn-outline-secondary m-5" (click)="open()">Zapytaj sprzedawcę o szczegóły<br /><svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-chevron-compact-down" viewBox="0 0 16 16">
  <path fill-rule="evenodd" d="M1.553 6.776a.5.5 0 0 1 .67-.223L8 9.44l5.776-2.888a.5.5 0 1 1 .448.894l-6 3a.5.5 0 0 1-.448 0l-6-3a.5.5 0 0 1-.223-.67z" />
</svg></button>
  <button type="submit" *ngIf="folded != true" class="btn btn-outline-secondary m-5" (click)="close()">
    <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-chevron-compact-up" viewBox="0 0 16 16">
      <path fill-rule="evenodd" d="M7.776 5.553a.5.5 0 0 1 .448 0l6 3a.5.5 0 1 1-.448.894L8 6.56 2.224 9.447a.5.5 0 1 1-.448-.894l6-3z" />
    </svg>
  </button>
  <div class="row mt-5 mb-5" *ngIf="folded == false">
    <div class="container">
      <form>
        <div class="row mb-3 mw-50">
          <input name="title" class="form-control form-control-lg" type="text" placeholder="Tytuł" aria-label=".form-control-lg example" [(ngModel)]="email.title" maxlength="50" required>
        </div>

        <div class="row mb-3">
          <textarea name="description" class="form-control" id="exampleFormControlTextarea1" rows="4" [(ngModel)]="email.body" size="30" required></textarea>
        </div>

        <div class="row mb-3 mw-25">
          <input name="email" type="email" placeholder="Twój adres email" class="form-control form-control-lg" [(ngModel)]="email.sender" required />
        </div>

        <button type="submit" class="btn btn-outline-primary" (click)="sendEmail()">Wyślij email</button>
      </form>
    </div>
  </div>
</div>
