
<div class="container marketing min-vh-100">
  <!-- Edit/Delete section -->
  <ng-container *ngFor="let article of service.articles; index as i">
    <div class="row featurette">
      <div class="col-md-7">
        <h2 class="featurette-heading fw-normal lh-1"><input class="text-body-secondary" type="text" [(ngModel)]="article.title" /></h2>
        <textarea class="form-control mb-2 mr-2" type="text" [(ngModel)]="article.description"></textarea>
      </div>
      <div class="col-md-5">
        <div class="input-group">
          <input type="file" class="form-control" aria-describedby="inputGroupFileAddon04" aria-label="Upload" (change)="service.onChange($event)">
          <button class="btn btn-outline-secondary" type="button" id="inputGroupFileAddon04" (click)="service.onUpload(article.id)">Prześlij obraz</button>
        </div>

        <div class="card-group">
            <button class="btn btn-outline-danger" (click)="service.onDeleteImg(article.id)">X</button>
            <img src="{{article.imageUrl}}" class="card-img-top">
        </div>
      </div>
      <button class="btn btn-outline-warning" (click)="service.update(article)">Edytuj</button>
      <button class="btn btn-outline-danger" (click)="service.delete(article.id)">Usuń</button>
    </div>
    <hr class="featurette-divider">
  </ng-container>

  <!-- Adding section -->
  <div class="row featurette">
    <div class="col-md-7">
      <h2 class="featurette-heading fw-normal lh-1"><input class="text-body-secondary" type="text" [(ngModel)]="service.newArticle.title" /></h2>
      <textarea type="text" [(ngModel)]="service.newArticle.description"></textarea>
    </div>
    <div class="col-md-5">
      <div class="input-group">
        <input type="file" class="form-control" aria-describedby="inputGroupFileAddon04" aria-label="Upload" (change)="service.onChange($event)">
        <button class="btn btn-outline-secondary" type="button" id="inputGroupFileAddon04" (click)="service.onUploadPicturetoNewArticle()">Prześlij obraz</button>
      </div>

      <div class="card-group">
        <button class="btn btn-outline-danger" (click)="service.onDeleteImg('')">X</button>
        <img src="{{service.newArticle.imageUrl}}" class="card-img-top">
      </div>
    </div>
  </div>
  <button class="btn btn-outline-success" (click)="service.add()">Dodaj artykuł</button>
  <br />
</div>
