<!--<div class="container" *ngFor="let article of articles">
  <input type="text" [(ngModel)]="article.title" />
  <input type="text" [(ngModel)]="article.description" />
  <input type="text" [(ngModel)]="article.imageUrl" />
  <button class="btn btn-outline-warning" (click)="update(article)">Update</button>
  <button class="btn btn-outline-danger" (click)="delete(article.id)">Delete</button>
</div>
<div>
  <input type="text" [(ngModel)]="newArticle.title" />
  <input type="text" [(ngModel)]="newArticle.description" />
  <input type="text" [(ngModel)]="newArticle.imageUrl" />
  <button class="btn btn-outline-success" (click)="add()">+</button>
</div>-->

<div class="container marketing">
  <!-- Edit/Delete section -->
  <ng-container *ngFor="let article of articles; index as i">
    <div class="row featurette">
      <div class="col-md-7">
        <h2 class="featurette-heading fw-normal lh-1"><input class="text-body-secondary" type="text" [(ngModel)]="article.title" /></h2>
        <textarea class="form-control mb-2 mr-2" type="text" [(ngModel)]="article.description"></textarea>
      </div>
      <div class="col-md-5">
        <!--<input type="text" [(ngModel)]="article.imageUrl" />-->
        <div class="input-group">
          <input type="file" class="form-control" aria-describedby="inputGroupFileAddon04" aria-label="Upload" (change)="onChange($event)">
          <button class="btn btn-outline-secondary" type="button" id="inputGroupFileAddon04" (click)="onUpload(article.id)">Upload</button>
        </div>

        <div class="card-group">
            <button class="btn btn-outline-danger" (click)="onDeleteImg(article.id)">X</button>
            <img src="{{article.imageUrl}}" class="card-img-top">
        </div>
      </div>
      <button class="btn btn-outline-warning" (click)="update(article)">Update</button>
      <button class="btn btn-outline-danger" (click)="delete(article.id)">Delete</button>
    </div>
    <hr class="featurette-divider">
  </ng-container>

  <!-- Adding section -->
  <div class="row featurette">
    <div class="col-md-7">
      <h2 class="featurette-heading fw-normal lh-1"><input class="text-body-secondary" type="text" [(ngModel)]="newArticle.title" /></h2>
      <textarea type="text" [(ngModel)]="newArticle.description"></textarea>
    </div>
    <div class="col-md-5">
      <!--<input type="text" [(ngModel)]="newArticle.imageUrl" />-->
      <div class="input-group">
        <input type="file" class="form-control" aria-describedby="inputGroupFileAddon04" aria-label="Upload" (change)="onChange($event)">
        <button class="btn btn-outline-secondary" type="button" id="inputGroupFileAddon04" (click)="onUploadPicturetoNewArticle()">Upload</button>
      </div>

      <div class="card-group">
        <button class="btn btn-outline-danger" (click)="onDeleteImg(newArticle.id)">X</button>
        <img src="{{newArticle.imageUrl}}" class="card-img-top">
      </div>
    </div>
  </div>
  <button class="btn btn-outline-success" (click)="add()">+</button>
</div>
