<h1>Shop items</h1>
<button class="btn-primary" (click)="goToAdd()">Add new item</button>

<table class='table table-striped' aria-labelledby="tableLabel" *ngIf="shopitems">
  <thead>
    <tr>
      <th>name</th>
      <th>description</th>
      <th>price</th>
    </tr>
  </thead>
  <tbody>
    <tr *ngFor="let shopitem of shopitems">
      <td>{{ shopitem.name }}</td>
      <td>{{ shopitem.description }}</td>
      <td>{{ shopitem.price }}</td>
      <td><button class="btn-primary" (click)="goToEdit(shopitem.id)">Edit</button></td>
      <td><button class="btn-primary" (click)="goToDelete(shopitem.id)">Delete</button></td>
    </tr>
  </tbody>
</table>
