<h1>Shop items</h1>
<button class="btn-primary" (click)="goToAdd()">Add new item</button>

<div *ngFor="let shopitem of shopitems" style="display:flex; width:90%; margin:10px; border: solid black 1px; text-align:center; align-content:center">
  <div style="display: block; width: 30%;">Images</div>
  <div style="display: block; width: 60%;">
    <div>{{ shopitem.name }}</div>
    <div>{{ shopitem.description }}</div>
  </div>
  <div style="display: block; width: 10%;">
    <div>{{ shopitem.price }}</div>
    <div>{{ shopitem.quantity }}</div>
  </div>
  <div style="display: block; width: 10%;">
    <div><button class="btn-primary" (click)="goToView(shopitem.id)">More info</button></div>
    <div><button class="btn-primary" (click)="goToEdit(shopitem.id)">Edit</button></div>
    <div><button class="btn-primary" (click)="goToDelete(shopitem.id)">Delete</button></div>
  </div>
</div>
