<div class="displayTable">
  <div class="displayTableCell">
    <div class="authBlock">
      <h3>Register</h3>
      <div class="formGroup">
        <input type="email"
               class="text-body-secondary m-2"
               placeholder="Email Address"
               #userEmail
               required />
      </div>
      <div class="formGroup">
        <input type="password"
               class="text-body-secondary m-2"
               placeholder="Password"
               #userPwd
               required />
      </div>
      <div class="m-2">
        <button class="btn btn-outline-primary m-1"
                (click)="authService.SignUp(userEmail.value, userPwd.value)">
          Zarejestruj
        </button>
        <a class="btn btn-outline-warning m-1" [routerLink]="['/sign-in']">Strona logowania</a>
      </div>

    </div>
  </div>
</div>
