<div class="displayTable">
  <div class="displayTableCell">
    <div class="authBlock">
      <h3>Reset hasła</h3>
      <p class="text-center">Aby zrestartować hasło wprowadź swój email.</p>
      <div class="formGroup m-3">
        <input type="email" class="formControl" placeholder="Email Address" #passwordResetEmail required>
      </div>
    </div>

    <div class="m-2">
      <button class="btn btn-outline-primary m-1"
              (click)="authService.ForgotPassword(passwordResetEmail.value)">
        Potwierdź
      </button>
      <a class="btn btn-outline-warning m-1" [routerLink]="['/sign-in']">Strona logowania</a>
    </div>
  </div>
</div>
