<footer class="navbar navbar-expand-sm navbar-light mt-2 sticky-bottom">
    <div class="navbar-collapse d-sm-inline-flex justify-content-center border-top mt-2">
      <ul class="navbar-nav">
        <li class="nav-item text-center"
            [routerLinkActive]="['link-active']">
          <a class="nav-link text-dark" [routerLink]="['/sign-in']">Panel logowania</a>
        </li>
        <li class="nav-item text-center" [routerLinkActive]="['link-active']">
          <!--<a class="nav-link text-dark" [routerLink]="['/statute']">Regulamin</a>-->
          <a class="nav-link text-dark" href="https://firebasestorage.googleapis.com/v0/b/monali-32546.appspot.com/o/LOGO%2FREGULAMIN.pdf?alt=media&token=8212c2b0-c944-41c5-9ef8-395ca6a2289c" download="REGULAMIN.pdf">Regulamin</a>
        </li>
        <li class="nav-item text-center" [routerLinkActive]="['link-active']">
          <!--<a class="nav-link text-dark" [routerLink]="['/privacy-policy']">Plityka prywatności</a>-->
          <a class="nav-link text-dark" href="https://firebasestorage.googleapis.com/v0/b/monali-32546.appspot.com/o/LOGO%2FPOLITYKA-PRYWATNO%C5%9ACI.pdf?alt=media&token=7b001140-8a92-4d84-80e2-47ffe5920c61" download="POLITYKA-PRYWATNOŚCI.pdf">Plityka prywatności</a>
        </li>
      </ul>
    </div>
</footer>
